/* All html objects will be wrapped in the #wrap div */
.text {
	font-size: 1em;
}

.hidden {
  display: none;
}

.goal-cont {
  color: white;
	position: relative;
  width: 100%;
  height: 100%;
}

#info-cont {
 	height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

#title {
	position: relative;
  left: 0;
  top: 0;
}

#goal-info {
  right: 0;
  top: 0;
  position: absolute;
}

#goal-bar {
 	width: 100%;
	height: 100%;
  position: relative;
  z-index: 0;
}

#goal-background-cont, #goal-progress-cont {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#goal-progress-cont, #goal-background-cont {
  position: absolute;
}

#goal-progress-img, #goal-progress-vid, #goal-background-img, #goal-background-vid {
  border: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

#goal-progress-vid, #goal-background-vid
{
	object-fit: fill;
}